---
topbar: Cryptario - Cryptic Crosword Solver
title: Cryptario.net - Crpytic crossword toolkit
jsapp: cryptic.js
layout: default
---


        <v-container grid-list-md>
          <v-layout row wrap>
            <v-flex xs12>
              <!-- explainer -->
              <div>
                <p>We solve all your cryptic crossword clues! Updated daily with new topical words. Try it now!</p>
              </div>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex md8>
              <v-card class="mb-2">
                <!-- anagram solver form -->
                <v-card-title>Solve Cryptic Clue</v-card-title>
                <v-card-subtitle>Enter the cryptic clue</v-card-subtitle>
                <v-card-text>
                  <v-text-field v-model="cryptic" label="Enter Clue" placeholder="e.g. Pleasant tumble in gale (6)" required @keyup.enter="solveCryptic">
                  </v-text-field>
                </v-card-text>
                <v-card-actions>
                  <v-btn :loading="solving" :disabled="cryptic.length===0" @click="solveCryptic">Solve</v-btn>
                </v-card-actions>
              </v-card>

              <!-- anagram solutions -->
              <h2 v-if="solutions.length > 0">Solutions</h2>
              <v-card v-for="a in solutions" class="mb-2">
                <v-card-title v-html="a.solution +' (' + a.type+ ')'"></v-card-title>
                <v-card-text v-html="a.info"></v-card-text>
              </v-card>

              <v-card v-if="solutions.length === 0 && showResults"  class="mb-2">
                <v-card-title>No solutions found</v-card-title>
              </v-card>
            </v-flex>
            <v-flex md4>
              <!-- anagram blurb -->
              <v-card  class="mb-2">
                <v-card-title>What is a cryptic clue?</v-card-title>
                <v-card-text><p>An anagram is a word or phrase formed by rearranging the letters of a different word or phrase, typically using all the original letters exactly once (<a href="https://en.wikipedia.org/wiki/Anagram">Wikipedia</a>).</p> 
                             <p>Are you an accomplished anagrammatist? We are not! The examples above are topical, but not very clever!</p>
			                       <p>We are using our list of recently added solutions and jumbling up the letters to generate daily fresh examples.</p>
                             <p>That list is updated daily. We look for popular articles in Wikipedia (based on users' page views) and add the new ones to our database every night.</p>
			                       <p>These are better though: Who gives <a href="#random advice">Random advice</a>? And who is this guy who claims: <a href="#I'm a jerk but listen">I'm a jerk but listen</a>?</p>
                             <p>And who is <a href="#A flirty swot">a flirty swot</a>?</p>
                             <p>Try our anagram solver with your own clues!</p>
                </v-card-text>
              </v-card>


            </v-flex>
          </v-layout>
        </v-container>
