---
topbar: Cryptario - Cryptic Crosword Solver
title: Cryptario.net - Crpytic crossword toolkit
jsapp: cryptic.js
layout: default
---


        <v-container grid-list-md>
          <v-layout row wrap>
            <v-flex xs12>
              <!-- explainer -->
              <div>
                <p>Try this cryptic crossword clue solver!</p>
              </div>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex md8>
              <v-card class="mb-2">
                <!-- anagram solver form -->
                <v-card-title>Solve Cryptic Clue</v-card-title>
                <v-card-subtitle>Enter the cryptic clue</v-card-subtitle>
                <v-card-text>
                  <v-text-field v-model="cryptic" label="Enter Clue" placeholder="e.g. Pleasant tumble in gale (6)" required @keyup.enter="solveCryptic">
                  </v-text-field>
                </v-card-text>
                <v-card-actions>
                  <v-btn :loading="solving" :disabled="cryptic.length===0" @click="solveCryptic">Solve</v-btn>
                </v-card-actions>
              </v-card>

              <!-- anagram solutions -->
              <h2 v-if="solutions.length > 0">Solutions</h2>
              <v-card v-for="a in solutions" class="mb-2">
                <v-card-title v-html="a.solution +' (' + a.type+ ')'"></v-card-title>
                <v-card-text v-html="a.info"></v-card-text>
              </v-card>

              <v-card v-if="solutions.length === 0 && showResults"  class="mb-2">
                <v-card-title>No solutions found</v-card-title>
              </v-card>
            </v-flex>
            <v-flex md4>
              <!-- anagram blurb -->
              <v-card  class="mb-2">
                <v-card-title>What is a cryptic clue?</v-card-title>
                <v-card-text>
			<p>A cryptic crossword is a special type of crossword where the clues are not straightforward definitions of a word, but consist of various forms of wordplay that obscure the meaning you're looking for.</p>
			<p>Cryptic clues are fiendishly difficult for a computer to solve because there are so many types of clues and they all require different strategies.  I often think that when the robots have taken all the jobs from the humans, the only job left will be that of cryptic crossword setter!</p>
			<p>Read more about <a href="what-is-a-cryptic.html">cryptic crosswords and clues.</a></p>
			<p>This cryptic crossword solver has a go at these types of clue: <a href ="cryptic-anagrams.html">Anagrams</a>, <a href="cryptic-double-definitions.html">double definitions</a>, <a href="cryptic-reversals.html">reversals</a>, homophones, <a href="cryptic-charades.html">charades</a>, hidden words, <a href="cryptic-containers.html">containers</a> and subtractions. It is not yet clever enough to tackle straight cryptic clues!</p>
			<p>Often it won't be able to find any answers! But be forgiving, it is trying really hard and I'm always trying to make it better! If your clue does not bring back any answers, <a href="https://twitter.com/desktopdan" target="_new">drop me a line</a> and I will try to take a look at it. But no promises.. This is a hobby, not a job :-)</p>
			<p>While you're here, why not  have a go at the <a href="/">Anagram Solver</a> too!</p>
                </v-card-text>
              </v-card>


            </v-flex>
          </v-layout>
        </v-container>
