---
topbar: Cryptario - Anagram Solver
title: Cryptario.net - anagram solver and cryptic crossword toolkit
description: Solve anagrams using our web-based, mobile-friendly tool with extensive database of solutions. Updated daily with popular content from Wikipedia.
jsapp: app.js
layout: default
---
        <v-container grid-list-md>
          <v-layout row wrap>
            <v-flex xs12>
              <!-- explainer -->
              <div>
                <p>We solve all your anagrams! Updated daily with new topical words. Try it now!</p>
              </div>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex md8>
              <v-card class="mb-2">
                <!-- anagram solver form -->
                <v-card-title>Solve Anagram</v-card-title>
                <v-card-subtitle>Enter the letters to anagram below</v-card-subtitle>
                <v-card-text>
                  <v-text-field v-model="anagram" label="Enter Clue" required @keyup.enter="solveAnagram">
                  </v-text-field>
                </v-card-text>
                <v-card-actions>
                  <v-btn :loading="solving" :disabled="anagram.length===0" @click="solveAnagram">Solve</v-btn>
                </v-card-actions>
              </v-card>

              <!-- anagram solutions -->
              <v-card v-if="anagramSolutions.length > 0 && showResults"  class="mb-2" color="deep-purple darken-4">
                <v-card-title>Anagram Solutions</v-card-title>
                <v-card-text>
                  <v-list>
                    <v-list-item v-for="a in anagramSolutions" v-html="a"></v-list-item>
                  </v-list>
                </v-card-text>
              </v-card>

              <v-card v-if="anagramSolutions.length === 0 && showResults"  class="mb-2">
                <v-card-title>No solutions found</v-card-title>
              </v-card>

              <!-- example anagrams -->
              <v-card  class="mb-2">
                <v-card-title>Example anagrams</v-card-title>
                <v-card-text>
                  <div v-for="anagram in exampleAnagrams"><a :href="'#' + anagram" v-html="anagram"></a></div>
                </v-card-text>
              </v-card> 

              <!-- anagram blurb -->
              <v-card  class="mb-2">
                <v-card-title>What is an anagram?</v-card-title>
                <v-card-text><p>An anagram is a word or phrase formed by rearranging the letters of a different word or phrase, typically using all the original letters exactly once (<a href="https://en.wikipedia.org/wiki/Anagram">Wikipedia</a>).</p> 
                             <p>Are you an accomplished anagrammatist? We are not! The examples above are topical, but not very clever!</p>
			                       <p>We are using our list of recently added solutions and jumbling up the letters to generate daily fresh examples.</p>
                             <p>That list is updated daily. We look for popular articles in Wikipedia (based on users' page views) and add the new ones to our database every night.</p>
			                       <p>These are better though: Who gives <a href="#random advice">Random advice</a>? And who is this guy who claims: <a href="#I'm a jerk but listen">I'm a jerk but listen</a>?</p>
                             <p>And who is <a href="#A flirty swot">a flirty swot</a>?</p>
                             <p>Try our anagram solver with your own clues!</p>
                </v-card-text>
              </v-card>

              <v-card  class="mb-2">
                <v-card-title>Need help making your own anagrams?</v-card-title>
                <v-card-text>
                  <p>Try this <a href="https://glynnbird.github.io/anagramhelper/">handy tool</a> that helps you build some fancy anagrams to impress your friends!</p>
                </v-card-text>
              </v-card> 
            </v-flex>
            <v-flex md4>
              <!-- top 50 newly added strings -->
              <v-card>
                <v-card-title>Newly added anagram solutions </v-card-title>
                <v-card-text>
                    <v-chip v-for="t in newTerms" class="ma2" color="green" text-color="white" :href="'https://en.wikipedia.org/wiki/' + t.replace(' ','_')"
                    target="_new" v-html="t"></v-chip>
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
